/* @import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en"); */

@import url("//demo.productionready.io/main.css");
/* @import url("bootstrap.min.css"); */
@import url("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

/* :root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
} */

img {
  text-indent: -9999px;
}

img:not([src]) {
  display: none;
}
